<div class="welcome-section">
  <div class="section video-section">
    <video autoplay muted loop id="background-video">
      <source src="../../../../assets/media/IoT2.mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <h1>Un camino poco convencional hacia el éxito de IoT</h1>
      <button class="btn btn-info">MÁS INFORMACIÓN</button>
    </div>
  </div>
  
  <div class="section-divider"></div>
  
  <div class="section text-section">
    <div class="arduino-description">
      <p class="highlight">Millones de usuarios y miles de empresas utilizan Arduino como plataforma de innovación</p>
      <p>Arduino se ha basado en esta experiencia en el diseño sin fricciones para permitir a las empresas conectar de forma rápida y segura sensores remotos a la lógica empresarial dentro de una sencilla plataforma de desarrollo de aplicaciones IoT.</p>
    </div>
  </div>
  
  <div class="section-divider"></div>
  
  <div class="section carousel-section">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT1.jpg" alt="Primera imagen">
            </div>
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT2.jpg" alt="Segunda imagen">
            </div>
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT3.jpg" alt="Tercera imagen">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT4.jpg" alt="Cuarta imagen">
            </div>
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT5.jpg" alt="Quinta imagen">
            </div>
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT6.jpg" alt="Sexta imagen">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT7.jpg" alt="Séptima imagen">
            </div>
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT8.jpg" alt="Octava imagen">
            </div>
            <div class="col-4">
              <img class="d-block w-100" src="../../../../assets/image/IoT9.jpg" alt="Novena imagen">
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <div class="section-divider"></div>
  
  <div class="section new-text-section">
    <h2>Simplifique y acelere su implementación de pruebas de dispositivos físicos sin necesidad de costosos consultores</h2>
    <p>No importa cuán grande o pequeña sea su operación, nuestro sistema está listo para trabajar con usted para transformar su negocio:</p>
    <div class="row">
      <div class="col">
        <h4>Pequeñas y medianas empresas</h4>
        <p>Con productos físicos que buscan agregar conectividad digital a sus dispositivos.</p>
      </div>
      <div class="col">
        <h4>Grandes empresas</h4>
        <p>Desde la venta tradicional hasta un modelo basado en suscripciones con nuevas fuentes de ingresos basadas en IoT.</p>
      </div>
      <div class="col">
        <h4>Instalaciones de producción</h4>
        <p>Mejorar la eficiencia a través de la monitorización, el control y el análisis de campos, fábricas o equipos.</p>
      </div>
      <div class="col full-width">
        <h4>Investigación y desarrollo</h4>
        <p>Desean transferir sus prototipos de dispositivos físicos a pruebas de campo de mayor volumen o a series de producción iniciales.</p>
      </div>
    </div>
  </div>
</div>
