<nz-layout style="min-height: 100%">
  <app-header (changeIsCollapsed)="isCollapsedLeftChange($event)"></app-header>

  <nz-layout>
    <nz-sider
      class="custom-sider"
      nzCollapsible
      [nzCollapsedWidth]="0"
      [nzWidth]="menuWidth"
      [(nzCollapsed)]="isCollapsedLeft"
    >
      <app-menu-left></app-menu-left>
    </nz-sider>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

    <!-- <nz-sider> -->
    <!-- <app-menu-right [isCollapsed]="isCollapsedRight"></app-menu-right> -->
    <!-- </nz-sider> -->
  </nz-layout>
  <app-footer></app-footer>
</nz-layout>
