<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="form-main">
  <div class="background-elements">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
    <div class="circle circle-4"></div>
  </div>
  <div class="form-content">
    <h3 class="gradient-text">{{ 'login.loginButton' | translate }}</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input
          type="text"
          class="input-control"
          formControlName="usernameOrEmail"
          placeholder="{{ 'login.username' | translate }} o {{ 'register.email' | translate }}"
        />
      </div>
      <div class="input-box">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          class="input-control"
          formControlName="password"
          placeholder="{{ 'login.password' | translate }}"
        />
        <i class="fas" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
      </div>
      <div class="input-link" *ngIf="showForgotPassword">
        <a href="#">{{ 'login.forgotPassword' | translate }}</a>
      </div>
      <button type="submit" class="btn" [disabled]="loading">{{ 'login.loginButton' | translate }}</button>
      <p>{{ 'login.noAccount' | translate }} <a routerLink="/register">{{ 'login.createAccount' | translate }}</a></p>
    </form>
  </div>
</div>
